############################
# Java
############################
*.class

############################
# Build directories
############################
out/
target/
bin/
build/
dist/

############################
# Package files (ignore by default)
############################
*.jar
*.war
*.ear

############################
# Logs
############################
*.log

############################
# IntelliJ IDEA
############################
.idea/
*.iml
*.iws
*.ipr

############################
# Eclipse
############################
.settings/
.classpath
.project
.metadata/

############################
# NetBeans
############################
nbproject/private/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

############################
# VS Code
############################
.vscode/

############################
# OS / temp files
############################
.DS_Store
Thumbs.db
